.articles-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem; 
    padding-left: 3rem;
    padding-right: 3rem; 
}

.articles-container > div {
    width: 60%;             
    max-width: 800px;
    text-align: left;       
}