.forward{
    display: flex; 
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 2rem; 
}

.stills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}

.stills h2{
    font-weight: 500; 
    font-size: 2.8rem;
    font-family: serif; 
    margin-bottom: 3rem;
}

.parts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem; 
}

.part{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.part img{
    width: 100%;
    max-width: 45vw; 

}

.synopsis{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.synopsis h2{
    font-weight: 500; 
    font-size: 2.4rem;
    font-family: serif; 
}
.synopsis p{
    margin-bottom: 3rem;
    font-family: "Poppins"; 

}



.component{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

.cg-awards{
    width: 100%;
    box-sizing: border-box; 
    display: flex; 
    padding: 1rem; 
    flex-direction: column;
    justify-content: center;
    gap: 1rem;   
    background-color: #F0F0F0;
}

.component p{
    white-space: normal;
    max-width: 70ch;
    font-family: "Poppins"; 
    font-weight: 400;
}
.banner{
    position: relative; 
    width: 100%; 
    height: calc(100vh - 4.75rem);
    overflow: hidden; 
}

.banner-image{
    object-fit: cover;
    width: 100%; 
    height: 100%; 
}

.banner-text{
    position: absolute; 
    inset: 0; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    padding: 2rem 1.5rem;
}

.banner-text p{
    margin-top: 0; 
    padding-top: 0;
    font-family: "Poppins";
    font-weight: 400;  
    color: white; 
    font-size: 1rem; 
}

.banner-text h1{
    margin-bottom: 0; 
    font-family: serif;
    font-weight: 400; 
    font-style: italic; 
    color: white; 
    font-size: 2.5rem;

}


.fade-in {
    position: relative;
    overflow: hidden;             
  }
  
  .fade-in::before {
    content: "";
    position: absolute;
    inset: 0;                    
    background: white;          
    transform: translateY(0%);    
    transition: transform 0.4s ease-out;
    pointer-events: none;
  }
  .fade-in.visible::before {
    transform: translateY(-100%);
  }
  



@media (min-width: 769px) {
    .banner {
        width: 100%; 
        height: 35rem;
    }
    .banner-text {
        padding: 4rem 16rem;  
      }
      .cg-awards{
        padding: 3rem 15rem; 
        display: flex; 
        flex-direction: row;
        justify-content: center;
        gap: 3rem; 
      }
      .synopsis{
        padding: 3rem 15rem; 
      }

      .synopsis p{
        max-width: 70vw;
      }
      .part{
        gap: 4rem; 
      }
      .parts{
        gap: 2rem;
      }
  }