.photography{
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem; 
    gap: 0.1vw; 
    justify-content: center; 
}

.pic-batch{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.1vw; 
}

.pic-batch img{
    width: 30vw; 
}

.backwards{
    padding: 1rem; 
}

@media (min-width: 769px) {
    .backwards{
        padding: 2rem; 
    }
    
}