.photography {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 2rem 1rem;
    gap: 0.15rem; 
  }
  
  .pic-batch {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
  }
  
  .pic-batch img {
    width: 100%;
    display: block;
    height: auto;
  }
  
.backwards{
    padding: 1rem; 
}

@media (min-width: 769px) {
    .backwards{
        padding: 2rem; 
    }
    .photography{
        padding: 2rem 5rem; 
    }

    
}