.wrapper{
    margin-top: 5rem; 
    padding-bottom: 5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

.resume{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.introduction{
    text-align: center;
    font-family: "Poppins";
    font-size: 16px; 
    line-height: 2.5;
}

.experiences{
    text-align: center;
    font-family: "Poppins";
    font-size: 16px; 
    gap: 0.6rem; 
    display: flex; 
    flex-direction: column; 
}


.awards-table {
    width: 80%;            
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;    
  }
  
  .awards-table td {
    width: 50%;             
    padding: 0.6rem 0.5rem;
    vertical-align: top;
  }
  

  .highlighted{
    font-weight: 700; 
    font-size: 16px; 

  }