@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

.header {
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "Serif";
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
}


.header::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: black;
  width: 100%;
  display: block;
  transform-origin: right;
  transition: width 0.3s ease-in-out;
  bottom: 0;
  right: 0;
}

.header:hover::after {
  width: 0%;
}

.body-text {
  font-family: "Poppins";
  font-weight: 400;
  white-space: normal;
  word-wrap: break-word; 
  overflow-wrap: anywhere;
}

a.header:hover,
a.header:active {
  color: black;
  text-decoration: none;
}


.video {
  width: 100%;
  max-width: 900px;       
  aspect-ratio: 16 / 9;   
  position: relative;
}

.video > iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
