.button-container{
    display: inline-flex;
    align-items: baseline; 
    cursor: pointer;
    gap: 0.5rem; 
}

.next{
    font-family: serif; 
    font-size: 2.4rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.next:after{
    content: ""; 
    position: absolute;
    bottom: 0;         
    left: 0;
    background: black; 
    height: 2px; 
    width: 0%;
    transition: width 0.3s ease; 
}

.next:hover:after{
    width: 100%; 
}

.thin-arrow {
    display: inline-flex;      
    align-items: baseline;
    line-height: 1;     
  }

  .thin-arrow svg {
    width: 2rem;   
    height: 2rem;
    display: block;  
    transform: translateY(0.15em);
  }
  
  
  .next:hover + .thin-arrow svg {

  }