.wrap{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.image {
    width: 430px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease;
  }

  .image:hover {
    transform: scale(1.1);
  }

.title-style{
    font-family: serif;
    font-weight: 300;
    font-size: 24px; 
    white-space: normal; 
    word-wrap: break-word;
    max-width: 20ch;
    text-align: center; 
}


@media (min-width: 769px) {
    .image {
      width: 240px;
      height: 240px;
      object-fit: cover;
      object-position: center;
    }
  }